body {
    font-family: 'Roboto Mono', monospace;
 
}

section {

    height: 500px;
    background-color: aquamarine;
    border: solid black 1px;
}

.whoami {
    color: #000;
    font-size: 40px;
    background-color: white;
    height: 100vh;

}


footer {

    margin: auto;
}

nav {

    display: flex;
    justify-content: space-between;

}
ul {
    display: flex;
    font-size : 1em;
    font-style: normal; 
    list-style-type: none;
    width: 500px;
    justify-content: space-between;
    font-size: 30px;
}

li {
   text-decoration: none;
}

h1 {
font-size: 90px;
margin: 0;

}

p{
    margin: 0;
    font-size: 30px ;
    font-weight: 300;
}

.whoami-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    

}

.whoami-text {

    margin-left: 80px;
    margin-bottom: 200px;
}

.button {

    width: 220px;
    height: 60px;
    border-radius: 30px;
    background-color: coral;
    text-align: center;
    padding-top: 5px;
    margin-top: 20px ;
    
    font-size: 30px;

}