section {

    height: 500px;
    background-color: aquamarine;
    border: solid black 1px;
}

.whoami {
    color: #000;
    font-size: 40px;
    background-color: white;
    height: 100vh;

}


footer {

    margin: auto;
}