body {
    font-family: 'Roboto Mono', sans-serif;
 
}

section {

    background-color: aquamarine;
    border: solid black 1px;
}

.sub-section {
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

.learning_projects_sub_section   {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;

    
}


.hero {
    color: #000;
    font-size: 40px;
    background-color: rgb(48, 29, 161);
    height: 100vh;

}

nav {
    display: flex;
    justify-content: space-between;

}

ul {
    display: flex;
    list-style-type: none;
    width: 600px;
    justify-content: space-around;
    font-size: 26px;
}


li {
   text-decoration: none;
}

h1 {
font-size: 90px;
margin: 0;

}
h2 {
    font-size: 60px;
}

p {
    margin: 0;
    font-size: 30px ;
    font-weight: 300;
}

.sub_text {
    font-size: 16px;
    font-weight: 300;


}

.hero-area {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;

}

.hero-text {

    margin-left: 80px;
    margin-bottom: 200px;
}

.button {

    width: 220px;
    height: 60px;
    border-radius: 30px;
    background-color: coral;
    text-align: center;
    padding-top: 5px;
    margin-top: 20px ;
    font-size: 30px;


}


.button:hover {

    background-color: greenyellow;


}


.button:active {

    background-color: darkblue;
    color: aqua;
}

footer {

    height: 500px;
    color: white;
    background-color: black;
    text-align: center;
    padding: 80px;

}

.hero-social {
    padding-bottom: 200px ;
    
}

.social {
    margin : 20px;
    text-decoration: none;
}

.logo {

height: 80px;
margin: 30px;
}


.profilepicture  {

    width: 200px;
    border-radius: 20%;
}

.profilepicture_cointainer  {
    display: flex;
    align-items: center;


}    

.learning_projects {
    height: 400px;
    width: 300px;
    box-shadow: 4px 4px 20px  #000;
    border: 1px solid black;
    margin: 10px;
    
    
}    


.learning_projects_cointainer  {
    display: flex;
    justify-content: space-around;

}

@media only screen and (max-width: 1000px) {

    .learning_projects_cointainer   {

        display: flex;
        flex-wrap: wrap ;
    }
}


.learning_project_image {

    margin-top: 20px;
    width: 200px;
    border-radius: 100px;


}

hr {
    margin-left: 20px;
    margin-right: 20px;

}

a {
    text-decoration: none;
    color : white;


}

.hamburger {
    display: none;
}

.hamburger:focus {
    outline: 0;
}

@media only screen and (max-width: 1000px) {
    .hamburger {
        display : block;
        border: 0;
        background-color : transparent;
        color : white ;
        font-size:  30px;
        margin: 20px;
        align-self:  flex-end;
    }

    ul { 
        display: none;
        margin: 0px;

    }

    ul.show {
        display:  block;
    }

    nav {
        align-items: flex-start;
        flex-direction:  column-reverse;
    }

    .logo {

        display: none;
    }

}